/* PAGE WEB*/
body{
    background-color: #191919;
    font-family: Arial;
}

/* BARRE DE NAVIGATION */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le remplissage par défaut de la liste */
    display: flex; /* Utilise un modèle d'affichage flexbox pour aligner les éléments en ligne */
    justify-content: space-between; /* Espacement égal entre les éléments */
    align-items: center; /* Centre verticalement les éléments */
    background-color: black;
    text-decoration: none;
  }
  
nav li {
    margin: 0 10px; /* Ajoute de l'espace horizontal entre les éléments <li> */
}

/* BARRE DE RECHERCHE */
#player_search{
    background-color: #A5A5A5;
    border-radius: 5px;
    color: black;
    height: 20px;
    text-align: center;
}

#search_bar{
    background-color: #A5A5A5;
    padding: 3px;
    border-radius: 10px;
}

/* Enlever la surbrillance search bar */
input:focus{
    outline: none;
}

/* redimentionner les icons */
i {
    font-size: 50px;
    color: #A5A5A5;
}

#search{
    font-size: 20px;
    color: black;
}